body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.text-primary {
    color: #E55473;
}

.btn-primary {
    background-color: #E55473;
    color: white;
    border-radius: 7px;
    border:none;
    
}

.banner {
    display: flex;
    align-items: center;
    background-color: #ffc3d098;
    justify-content: center;
}

.banner-text {
    width: 500px;
    padding-right: 150px;
}

.banner-img {
    width: 635px;
    height: 800px;
}

.banner-heading {
    font-weight: 900;
}

.banner-description {
    font-weight: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-shop {
    width: 120px;
    height: 40px;
}
.btn-signup{
    width: 100px;
    height: 40px;
}
.btn-buynow{
    width: 80px;
    height: 30px;
}
.btn-subscibe{
    width: 150px;
    height: 60px;
}
.placeholder{
    width: 700px;
    height: 60px;
    border-radius: 10px;
    border:none;
    margin-right: 5px;
}

/* .featured{
   margin-left: 150px;

} */
.featured-items {
    text-align: center;
    font-size: x-large;
}

.featured-flowers {
    display: flex;
    justify-content: center;
}

.bg-1 {
    background-color: #a7216263;
    width: 464px;
    height: 605px;
    margin: 20px;
    border-radius: 250px 250px 0px 0px;
}

.bg-2 {
    background-color: #0598a052;
    width: 464px;
    height: 605px;
    margin: 20px;
    border-radius: 250px 250px 0px 0px;
}

.bg-3 {
    background-color: #477d1144;
    width: 464px;
    height: 605px;
    margin: 20px;
    border-radius: 250px 250px 0px 0px;
}
.featured-img{
    padding: 100px 50px 0px 50px;
}

.featured-text {
    text-align: center;
    font-size: larger;
    color: black;
}

.hot-deal {
    background-color: #ffc3d048;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.hot-deal-text {
    text-align: center;
    padding-top: 100px;
}

.social {
    display: block;
    justify-content: center;
}

.social-heading {
    font-size: x-large;
    text-align: center;
}

.social-img {
    display: flex;
    justify-content: center;
    padding: 20px;
}
#social-img{
    padding: 10px
}

.newsletter {
    margin: auto;
    margin-top: 50px;
    background-image: url('/Background.png');
    height: 449px;
    width: 1440px;
    background-repeat: no-repeat;
}

.newsletter-text {
    padding-top: 100px;
    text-align: center;
    font-size: x-large;
}

.newsletter-form {

    display: flex;
    justify-content: center;
}

.footer{
    height: 350px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
    padding-top: 100px;
    font-size:larger;
}
.rights{
    color: grey;
}

.vase{
    width: 1440px;
    height: 605px;
    margin: 150px;
}
.vase-img{
    height: 350px;
    width: 254px;
    padding: 10px;
}
.vase-text{
    text-align: center;
    font-size: x-large;
}
.vase-collection{
    display: flex;
    justify-content: center;
    text-align: center;
}